body{
    background-color: rgb(144, 195, 230); 
}
.container{
    display: flex;
    background-color: rgb(219, 253, 253);
    width: 820px;
    height: 500px;
    margin-top: 100px;
    margin-left: 300px;

}

.img-container{
    position:relative;
    width:60%;
    
}
img{
    width:100%;
    height:100%;
    opacity: 0.3;
}

.text-in-image{
    position:absolute;
    top: 8px;
    left: 16px;
}

.form{
    display: flex;
    flex-direction :column;
    color:rgb(79, 123, 128);
    background-color: rgb(219, 253, 253);
    
}

h2{
  color:rgb(79, 123, 128);
  text-align:center;
  padding-left:40px;
  padding-top:20px;
}

.pcg{
    padding-left: 10px;
    display:flex;
    flex-direction: row;
}

.interest{
    display:flex;
    flex-direction:column;

}
h1{
    color:rgb(47, 68, 131);
    text-align:center;
  }

 p{
    color:rgb(47, 68, 131);
    padding:10px 20px;
    text-align:justify ;
 } 

 .pad20l{
    padding-left:10px;
    position: relative;
    
 }

 .icon{
    position:absolute;
    bottom: 5px;
    left: 218px;
 }

 .submit{
    background-color:  rgb(79, 123, 128);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(47, 68, 131);
    height: 30px;
    text-decoration: none;

 }

 .ref{
    background-color:  rgb(79, 123, 128);
    color: rgb(255, 255, 255);
    height: 30px;
    text-decoration: none;

 }

 .form-container{
    padding-left:30px;
 }

 .box{
    width: 225px;
    height:27px;
    margin-top:10px;
 }

.register-box{
    height:18px;
}